@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --text-color-primary: #fbfafc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.heading-1 {
  font-size: 3.5rem;
  line-height: 4rem;
}

.heading-2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.heading-3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.d-flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.direction-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.gap {
  gap: 1.25rem;
}
